
<div>
    <h2>Partial View 2</h2>
    <form asp-action="UploadFile2" enctype="multipart/form-data" method="post">
        <input type="file" name="file2" />
        <button type="submit">Upload File 2</button>
    </form>


</div>