html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* wwwroot/css/site.css */
a {
    color: white; /* Replace with your preferred color code */
    text-decoration: none; /* Optional: Remove underline, if desired */
}

a:hover {
    color: red; /* Replace with your preferred hover color code */
}